body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#output {
  display: none;
}

#start {
  display: block;
}

textarea {
  background-color: #222;
  color: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

p, h1 {
  color: white;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
